# Example /etc/portage/sets.conf adding the @smart-live-rebuild set.

[smart-live-rebuild]
class = portage.sets.shell.CommandOutputSet
world-candidate = False
command = smart-live-rebuild -p
# --alternatively--
#command = smart-live-rebuild -pQj16

# Please notice that '--pretend' argument is obligatory unless psutil
# Python module is available; else smart-live-rebuild will spawn another
# emerge process.
